.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-self: baseline;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

#trybewarts-header-title {
  color: white;
  font-size: 80px;
}

#login , #senha , #entrar {
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
}

main {
  display: flex;
  width: 675px;
}

#evaluation-form {
  display: flex;
  width: 675px;
}
